@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-dark {
    @apply box-border backdrop-filter backdrop-blur;

    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }

    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}
