@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-dark {
    @apply !box-border !backdrop-filter !backdrop-blur;

    background: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
  }

  :root {
    --padding-card: 1.25rem;
  }
}

@layer utilities {
  @variants responsive {
    .masonry-5-col {
      column-count: 5;
      column-gap: 1em;
    }

    .masonry-4-col {
      column-count: 4;
      column-gap: 1em;
    }

    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }

    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}
