{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard"
  ],
  "rules": {
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extends",
          "tailwindcss"
        ]
      }
    ]
  }
}
